body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #42275a, #734b6d);
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  display: inline-block;
  padding: 10px;
  border-bottom: 2px solid purple;
  background-color: rgba(128, 0, 128, 0.1);
  box-shadow: 0 0 10px purple, 0 0 20px purple;
  border-radius: 5px;
}
.container {
  display: flex;
}
.input-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input-area {
  margin-bottom: 10px;
}
.equation {
  color: #8707ff;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
}
.equation:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}
button {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725AC1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725AC1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
}
button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}
button:active {
  transform: scale(0.9);
}
#graph {
  width: 100%;
  height: 500px;
  margin-left: 20px;
}

.modebar{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  border-color: black;
}

/* Responsive styles for mobile devices */

@media only screen and (max-width: 768px) {
  body {
    padding: 10px;
  }
  
  h1 {
    font-size: 24px; /* Reduce font size */
    padding: 5px;
    margin-bottom: 15px;
  }

  .container {
    flex-direction: column; /* Stack children vertically */
  }

  .input-section {
    align-items: center; /* Center the content */
    margin-bottom: 20px; /* Add some space between the sections */
  }

  .input-area {
    width: 100%; /* Ensure it takes up full width */
    box-sizing: border-box;
  }

  .equation {
    font-size: 16px; /* Reduce font size a bit */
    width: 100%; /* Take full width */
    max-width: none; /* Remove max-width restriction */
    text-align: center; /* Center the equation text */
  }

  button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px 0; /* Adjust spacing for stacked layout */
  }

  #graph {
    margin-left: 0;
    margin-top: 20px;
  }
  
  .modebar {
    width: 100%;
    justify-content: center;
  }
}